<!doctype html>
<html lang="en" ng-app="TodoApp">
<head>
  <meta charset="utf-8">
  <title>Library Application</title>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="lib/angular/angular.js"></script>
    <script type="text/javascript">
        var app = angular.module('TodoApp', []);

        
        app.service('TodoService', function () {
            var list = [
               "Hello", "World"
            ];
            return {
                todoList : list, 
                addTodo: function (todo) {
                    list.push(todo);
                }
            }
        });

        app.controller('TodoController', ['TodoService', function (todoService) {
            this.items = todoService.todoList;
            
        }]);

        app.controller('TodoFormController', ['TodoService', function (todoService) {
            this.todo = undefined;
            this.addTodo = function () {
                todoService.addTodo(this.todo);
                this.todo = undefined;
            }

        }]);
    </script>
</head>

<body >
  <div ng-controller="TodoController as todoCtrl">
      <div ng-repeat="item in todoCtrl.items">
          {{item}}
      </div>
  </div>
    <hr />
    <div>
        <form name="todoForm" ng-controller="TodoFormController as todoFormCtrl" ng-submit="todoFormCtrl.addTodo()">

            <!--  Live Preview -->
            <blockquote>
                Message: {{todoFormCtrl.todo}}
            </blockquote>

            <!--  Review Form -->
            <h4>Submit a Todo</h4>
            <fieldset class="form-group">
                <textarea ng-model="todoFormCtrl.todo" class="form-control" placeholder="Write a short message..." title="Message"></textarea>
            </fieldset>
            <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Todo" />
            </fieldset>
        </form>
    </div>
  <p>Nothing here {{'yet' + '!'}}</p>
    
</body>
</html>