<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
     <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v2" />
    <add key="AspNetVolatile" value="https://www.myget.org/F/aspnetvolatile/api/v2" />
    <add key="NuGet" value="https://nuget.org/api/v2/" />
    <add key="NuGet" value="https://nuget.org/api/v2/" />
    <add key="AspNetMaster" value="https://www.myget.org/F/aspnetmaster/api/v2" />
  </packageSources>
</configuration>