<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Loans</li>
    </ol>
</section>
<section class="content">
    <div ng-class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>Add Loan</h5>
                </div>
                <div class="panel-body">
                    <form id="addFormLoan" ng-submit="ctrl.addLoan()" role="form" novalidate>
                        <div class="form-group">
                            <label for="inputBookIdentifier">Book</label>
                            <select ng-model="ctrl.currentLoan.BookId" ng-options="b.Id as b.Name for b in ctrl.books"></select>
                        </div>
                        <div class="form-group">
                            <label for="inputUserIdentifier">User</label>
                            <select ng-model="ctrl.currentLoan.UserId" ng-options="u.Id as u.Name for u in ctrl.users"></select>
                        </div>
                        <div class="form-group">
                            <label for="inputDays">Days</label>
                            <input type="number" min="1" max="20" required data-ng-model="ctrl.currentLoan.Days" class="form-control" id="inputDays"/>
                        </div>
                        <div class="pull-right form-group">
                            <div>
                                <button type="submit" class="btn btn-info">Add Loan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>Loans</h5>
                </div>
                <div class="panel-body">
                    <div ng-hide="ctrl.loans.length" class="alert" role="alert">
                        No Results for your Query. <a ng-click="ctrl.clearFilters()" class="alert-link">Clear Results</a> and try again?
                    </div>
                    <table ng-show="ctrl.loans.length" class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Book Name</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Start</th>
                                <th>End</th>
                            </tr>
                        </thead>
                        <tbody>
<!--                            (ctrl.users | filter: {Id: ctrl.filters.Id, Name: ctrl.filters.Name, Surname: ctrl.filters.Surname}) track by user.Id-->
                        <tr ng-repeat="loan in ctrl.loans">

                            <td><a ng-href="/#/loan/{{loan.Id}}">/{{loan.Id}}</a></td>
                            <td><a ng-href="/#/book/{{loan.Book.Id}}">{{loan.Book.Name}}</a></td>
                            <td><a ng-href="/#/user/{{loan.User.Id}}">{{loan.User.Name}}</a></td>
                            <td><a ng-href="/#/user/{{loan.User.Id}}">{{loan.User.Surname}}</a></td>
                            <td>{{loan.LoanStart | date}}</td>
                            <td>{{loan.LoanEnd | date}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="btn btn-primary btn-large btn-block btn" data-ng-click="ctrl.refreshLoans()">Refresh</div>
            <div class="span3">&nbsp;</div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">Filters</div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="inputUserIdentifier">UserId</label>
                            <input type="text"  class="form-control" id="inputUserIdentifier"
                                   placeholder="User Identifier">
                        </div>
                        <div class="form-group">
                            <label for="inputNameIdentifier">Name</label>
                            <input type="text" class="form-control" id="inputNameIdentifier"
                                   placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="inputSurnameIdentifier">Surname</label>
                            <input type="text" class="form-control" id="inputSurnameIdentifier"
                                   placeholder="Surname">
                        </div>
                        <div class="pull-right form-group">
                            <div>
                                <button data-ng-click="ctrl.clearFilters()" type="submit" class="btn btn-info">Clear Filters</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
